[Desktop Entry]
Type=Application
Version=1.0
Name=DevilutionX
Exec=devilutionx
Terminal=false
StartupNotify=false
Categories=Game;ArcadeGame;
Keywords=game;arcade;platform;
X-Ubuntu-Touch=true
