BasedOnStyle: webkit
AlignTrailingComments: true
AllowShortBlocksOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: WithoutElse
PointerAlignment: Right
TabWidth: 4
UseTab: ForIndentation
SortIncludes: true
NamespaceIndentation: None
FixNamespaceComments: true
