PROJECT_NAME           = "Devilution"
PROJECT_BRIEF          = "Diablo devolved - magic behind the 1996 computer game"
USE_MDFILE_AS_MAINPAGE = ./README.md
OUTPUT_DIRECTORY       = docs
INPUT                  = ./ ./Source ./docs
INPUT_ENCODING         = UTF-8
FILE_PATTERNS          = *.c \
                         *.cpp \
                         *.h \
                         *.inc \
                         *.hpp \
                         *.md
RECURSIVE              = YES
EXCLUDE                = ./build ./3rdParty ./CMake ./cmake-build-debug

GENERATE_LATEX         = NO
WARNINGS               = YES
SOURCE_BROWSER         = YES
JAVADOC_AUTOBRIEF      = YES
OPTIMIZE_OUTPUT_FOR_C  = YES
SEPARATE_MEMBER_PAGES  = YES
DOT_IMAGE_FORMAT       = svg
INTERACTIVE_SVG        = YES
HTML_COLORSTYLE_HUE    = 0
HTML_COLORSTYLE_SAT    = 125
HTML_COLORSTYLE_GAMMA  = 200

# Call graphces alows logical navigation of the docs
CALL_GRAPH             = YES
CALLER_GRAPH           = YES

# Not all files are documented yet
EXTRACT_ALL            = YES
EXTRACT_PRIVATE        = YES
EXTRACT_STATIC         = YES
EXTRACT_ANON_NSPACES   = YES
