Package: devilutionX
Version: 0.0.1
Architecture: mipsel
Section: games
Maintainer: glex.spb@gmail.com
Description: A port of devilutionX for OpenDingux / RetroFW.
Priority: optional
Homepage: https://github.com/diasurgical/devilutionX
Depends:
Source: https://github.com/diasurgical/devilutionX
