[Desktop Entry]
Name=DevilutionX Hellfire
Comment=Diablo 1: Hellfire for GKD350h
Exec=devilutionx
Terminal=false
Type=Application
StartupNotify=true
Icon=hellfire_32
Categories=games;
X-OD-Manual=readme.gcw0.txt
X-OD-NeedsDownscaling=true
