[Desktop Entry]
Name=DevilutionX
GenericName=DevilutionX
Comment=Play Diablo I on Linux
Comment[da]=Spil Diablo I på Linux
Comment[hr]=Igrajte Diablo I na Linuxu
Comment[it]=Gioca a Diablo I su Linux
Exec=devilutionx --diablo
Icon=devilutionx
Terminal=false
Type=Application
X-DCOP-ServiceType=Multi
X-KDE-StartupNotify=true
Categories=Game;RolePlaying;
