[Desktop Entry]
Name=DevilutionX Hellfire
GenericName=DevilutionX Hellfire
Comment=Play Diablo: Hellfire
Comment[da]=Spil Diablo: Hellfire
Comment[hr]=Igrajte Diablo: Hellfire
Comment[it]=Gioca a Diablo: Hellfire
Comment[ru]=Играть в Diablo: Hellfire
Comment[ua]=Грати в Diablo: Hellfire
Exec=devilutionx --hellfire
Icon=devilutionx-hellfire
Terminal=false
Type=Application
X-DCOP-ServiceType=Multi
X-KDE-StartupNotify=true
Categories=Game;RolePlaying;
