# Intellij
.idea/

# Gradle files
/.gradle/
build/

# Android
/app/.cxx/

# Local configuration file (sdk path, etc)
/local.properties

/app/src/main/assets/CharisSILB.ttf
/app/src/main/assets/*.gmo
/app/src/main/assets/ui_art/*
