name: clang-format check

on:
  push:
    branches:
      - master
    paths-ignore:
      - '*.md'
      - 'docs/**'
  pull_request:
    types: [ opened, synchronize ]
    paths-ignore:
      - '*.md'
      - 'docs/**'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  formatting-check:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Formatting Check (Source)
      uses: jidicula/clang-format-action@v4.14.0
      with:
        clang-format-version: '18'
        check-path: 'Source'

    - name: Formatting Check (test)
      uses: jidicula/clang-format-action@v4.14.0
      with:
        clang-format-version: '18'
        check-path: 'test'
